USE [master]
GO
/****** Object:  Database [Shoes_Gerasimova]    Script Date: 10.11.2025 2:31:59 ******/
CREATE DATABASE [Shoes_Gerasimova]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Shoes_Gerasimova', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Shoes_Gerasimova.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Shoes_Gerasimova_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Shoes_Gerasimova_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Shoes_Gerasimova].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Shoes_Gerasimova]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 10.11.2025 2:31:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id_category] [int] IDENTITY(1,1) NOT NULL,
	[name_category] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[id_category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[manufacturer]    Script Date: 10.11.2025 2:31:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[manufacturer](
	[id_manufacturer] [int] IDENTITY(1,1) NOT NULL,
	[manufacturer_name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_manufacturer] PRIMARY KEY CLUSTERED 
(
	[id_manufacturer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 10.11.2025 2:31:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[id_Order] [int] IDENTITY(1,1) NOT NULL,
	[orderData] [date] NOT NULL,
	[delivery_date] [date] NOT NULL,
	[id_pickPoint] [int] NOT NULL,
	[client_id] [int] NOT NULL,
	[code] [int] NOT NULL,
	[statys] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Order_1] PRIMARY KEY CLUSTERED 
(
	[id_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderProduct]    Script Date: 10.11.2025 2:31:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderProduct](
	[id_order] [int] NOT NULL,
	[articleNumber] [nvarchar](100) NOT NULL,
	[productCount] [int] NOT NULL,
 CONSTRAINT [PK_OrderProduct] PRIMARY KEY CLUSTERED 
(
	[id_order] ASC,
	[articleNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pickPoint]    Script Date: 10.11.2025 2:31:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pickPoint](
	[id_pickPoint] [int] IDENTITY(1,1) NOT NULL,
	[indexPick] [int] NOT NULL,
	[city] [nvarchar](100) NOT NULL,
	[street] [nchar](100) NOT NULL,
	[number] [int] NOT NULL,
 CONSTRAINT [PK_pickPoint] PRIMARY KEY CLUSTERED 
(
	[id_pickPoint] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 10.11.2025 2:31:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[article] [nvarchar](100) NOT NULL,
	[product_name] [nvarchar](max) NOT NULL,
	[unit] [nchar](10) NOT NULL,
	[cost] [decimal](18, 2) NOT NULL,
	[supplier] [nvarchar](max) NOT NULL,
	[manufacturer] [int] NOT NULL,
	[category] [int] NOT NULL,
	[discount] [int] NULL,
	[quantityInStock] [int] NOT NULL,
	[description] [nvarchar](max) NULL,
	[image] [nvarchar](max) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[article] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 10.11.2025 2:31:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id_role] [int] IDENTITY(1,1) NOT NULL,
	[nameRole] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[id_role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10.11.2025 2:31:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id_user] [int] IDENTITY(1,1) NOT NULL,
	[role_user] [int] NOT NULL,
	[lastName] [nvarchar](50) NOT NULL,
	[firstName] [nvarchar](50) NOT NULL,
	[patronymic] [nvarchar](50) NULL,
	[login] [nvarchar](100) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([id_category], [name_category]) VALUES (1, N'Мужская обувь')
INSERT [dbo].[Category] ([id_category], [name_category]) VALUES (2, N'Женская обувь')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[manufacturer] ON 

INSERT [dbo].[manufacturer] ([id_manufacturer], [manufacturer_name]) VALUES (1, N'Alessio Nesca')
INSERT [dbo].[manufacturer] ([id_manufacturer], [manufacturer_name]) VALUES (2, N'CROSBY')
INSERT [dbo].[manufacturer] ([id_manufacturer], [manufacturer_name]) VALUES (3, N'Kari')
SET IDENTITY_INSERT [dbo].[manufacturer] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([id_Order], [orderData], [delivery_date], [id_pickPoint], [client_id], [code], [statys]) VALUES (1, CAST(N'2025-02-27' AS Date), CAST(N'2025-04-20' AS Date), 1, 4, 901, N'Завершен')
INSERT [dbo].[Order] ([id_Order], [orderData], [delivery_date], [id_pickPoint], [client_id], [code], [statys]) VALUES (2, CAST(N'2022-09-28' AS Date), CAST(N'2025-04-21' AS Date), 11, 7, 902, N'Завершен')
INSERT [dbo].[Order] ([id_Order], [orderData], [delivery_date], [id_pickPoint], [client_id], [code], [statys]) VALUES (3, CAST(N'2025-03-21' AS Date), CAST(N'2025-04-22' AS Date), 2, 3, 903, N'Завершен')
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
INSERT [dbo].[OrderProduct] ([id_order], [articleNumber], [productCount]) VALUES (1, N'F635R4', 2)
INSERT [dbo].[OrderProduct] ([id_order], [articleNumber], [productCount]) VALUES (1, N'А112Т4', 2)
INSERT [dbo].[OrderProduct] ([id_order], [articleNumber], [productCount]) VALUES (2, N'G783F5', 1)
GO
SET IDENTITY_INSERT [dbo].[pickPoint] ON 

INSERT [dbo].[pickPoint] ([id_pickPoint], [indexPick], [city], [street], [number]) VALUES (1, 420151, N' г. Лесной', N' ул. Вишневая                                                                                       ', 32)
INSERT [dbo].[pickPoint] ([id_pickPoint], [indexPick], [city], [street], [number]) VALUES (2, 125061, N' г. Лесной', N' ул. Подгорная                                                                                      ', 8)
INSERT [dbo].[pickPoint] ([id_pickPoint], [indexPick], [city], [street], [number]) VALUES (3, 630370, N' г. Лесной', N' ул. Шоссейная                                                                                      ', 24)
SET IDENTITY_INSERT [dbo].[pickPoint] OFF
GO
INSERT [dbo].[Product] ([article], [product_name], [unit], [cost], [supplier], [manufacturer], [category], [discount], [quantityInStock], [description], [image]) VALUES (N'B320R5', N'Туфли', N'шт.       ', CAST(43088.00 AS Decimal(18, 2)), N'Kari', 1, 2, 2, 6, N'Туфли Rieker женские демисезонные, размер 41, цвет коричневый', N'image/9.jpg')
INSERT [dbo].[Product] ([article], [product_name], [unit], [cost], [supplier], [manufacturer], [category], [discount], [quantityInStock], [description], [image]) VALUES (N'B431R5', N'Ботинки', N'шт.       ', CAST(2700.00 AS Decimal(18, 2)), N'Обувь для вас', 5, 2, 2, 5, N'Мужские кожаные ботинки/мужские ботинки', N'C:\Users\kseni\Desktop\дэмэкзамен\image\3.jpg')
INSERT [dbo].[Product] ([article], [product_name], [unit], [cost], [supplier], [manufacturer], [category], [discount], [quantityInStock], [description], [image]) VALUES (N'C436G5', N'Ботинки', N'шт.       ', CAST(10200.00 AS Decimal(18, 2)), N'Kari', 1, 1, 15, 9, N'Ботинки женские, ARGO, размер 40', N'C:\Users\kseni\Desktop\дэмэкзамен\image\10.jpg')
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([id_role], [nameRole]) VALUES (1, N'Авторизированный клиент')
INSERT [dbo].[Role] ([id_role], [nameRole]) VALUES (2, N'Администратор')
INSERT [dbo].[Role] ([id_role], [nameRole]) VALUES (3, N'Менеджер')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([id_user], [role_user], [lastName], [firstName], [patronymic], [login], [password]) VALUES (1, 2, N'Никифорова', N'Весения', N'Николаевна', N'94d5ous@gmail.com', N'uzWC67')
INSERT [dbo].[User] ([id_user], [role_user], [lastName], [firstName], [patronymic], [login], [password]) VALUES (2, 2, N'Сазонов', N'Руслан', N'Германович', N'uth4iz@mail.com', N'2L6KZG')
INSERT [dbo].[User] ([id_user], [role_user], [lastName], [firstName], [patronymic], [login], [password]) VALUES (3, 2, N'Одинцов', N'Серафим', N'Артёмович', N'yzls62@outlook.com', N'JlFRCZ')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_pickPoint] FOREIGN KEY([id_pickPoint])
REFERENCES [dbo].[pickPoint] ([id_pickPoint])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_pickPoint]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([client_id])
REFERENCES [dbo].[User] ([id_user])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[OrderProduct]  WITH CHECK ADD  CONSTRAINT [FK_OrderProduct_Order] FOREIGN KEY([id_order])
REFERENCES [dbo].[Order] ([id_Order])
GO
ALTER TABLE [dbo].[OrderProduct] CHECK CONSTRAINT [FK_OrderProduct_Order]
GO
ALTER TABLE [dbo].[OrderProduct]  WITH CHECK ADD  CONSTRAINT [FK_OrderProduct_Product] FOREIGN KEY([articleNumber])
REFERENCES [dbo].[Product] ([article])
GO
ALTER TABLE [dbo].[OrderProduct] CHECK CONSTRAINT [FK_OrderProduct_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([category])
REFERENCES [dbo].[Category] ([id_category])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_manufacturer] FOREIGN KEY([manufacturer])
REFERENCES [dbo].[manufacturer] ([id_manufacturer])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_manufacturer]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([role_user])
REFERENCES [dbo].[Role] ([id_role])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
